.titleBox {
  background-color: rgba(0, 0, 0, 0.01);
}
.interactBar {
  margin-left: 0.5em;
  padding-top: 0.2em;
  z-index: 2;
  overflow: hidden;
}
.divBoxRecord {
  cursor: pointer;

  float: left;
  width: 13em;
  padding-top: 0.8em;
  z-index: 2;

  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid-single-radio {
  display: grid;
  grid-template-columns: 1fr 4em;
  grid-gap: 0px;
  width: 100%;
}

.grid-single-radio-item {
  padding-left: 0.4em;
  text-align: center;
  border: 0px solid red;
}

.grid_station_button {
  padding-top: 0.2em;
}

.divVotesBadge {
  position: absolute;
  margin-top: 0.8em;

  font-size: 80%;
  color: black;
  border: 1px solid transparent;
  /* border-radius: 5px; */
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  z-index: 2;
}

.grid_station_clicker {
  margin: 0px;
  padding-left: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 100%;
  border-top: 1px solid #ebebeb;
}
.grid_station_clicker_alternate_color {
  background: #ebebeb;
}

.grid_station_clicker_default_color {
  background: white;
}
