:root {
  --main-bg-color: #49bbaaff; /* #49bbaaff;  #208c8e */
  --nav-bar-color: #208c8e;
  --monitor-color: rgba(73, 187, 170, 0.2);
  --bright-bg-color: #fff;
}

* {
  box-sizing: border-box;
  /* set to 1px to debug overflow */
  outline: solid 0px red;
}
body {
  height: 100%; /* else div height:100%  not working */
  background-color: #c0c0c0; /*  #2b2a33; f2f2f2 */
  color: black;
  font-family: Arial, Verdana, Tahoma, sans-serif; /*, Verdana, sans-serif, Raleway*/
}
html {
  width: 100%;
  height: 100%;
}
p {
  white-space: pre-line;
}
audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 25px;
}
input[type="text"] {
  color: black;
  background-repeat: no-repeat;
}
a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: coral;
}

a:active {
  color: blue;
}

.loader {
  position: absolute;
  top: 30%;
  left: 200px;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 100;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Create two equal columns that floats next to each other */
.column500 {
  width: 500px;
  background-color: var(--bright-bg-color);
}

.column300 {
  float: left;
  width: 300px;
  background-color: #212631;
  padding: 6px;
  /* Should be removed. Only for demonstration; height: 300px; */
}
.column200 {
  position: relative;
  display: inline-block;
  margin: 20px;
}

#divColumnThree {
  justify-content: center;
  height: 420px;
}
#divToggleSystemSettings {
  height: 10px;
}
.divCountries {
  color: lightyellow;
  padding: 4px;
  font-size: 110%;
  font-weight: 500;
  font-style: normal;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
.divCountries:hover {
  background-color: #6261cc;
  color: white;
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  text-decoration: none;
}
.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: 20%;
  background: #ffcb66;
  padding: 5px 15px;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid #ffcb66;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  left: 30%;
  bottom: 90%;
}
.tooltip:hover::after {
  bottom: 100%;
}
.tooltip:hover::before {
  bottom: 70%;
}
.tooltip:hover::after,
:hover:before {
  opacity: 1;
}

.bigButton {
  background: #313043;
  padding: 6px;
  margin: 6px;
  width: 75px;
  height: 30px;
  color: lightYellow;
  font-size: 85%;
  cursor: pointer;
  border: 1px solid #5b5ab8;
  border-radius: 5px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 0 4px #000;
  box-shadow: inset 0 0 4px #000;
}
.customButton_go {
  background-color: transparent;
  padding: 6px;
  margin: 6px;
  width: 75px;
  height: 30px;
  font-size: 85%;
  cursor: pointer;
  border: 1px solid var(--nav-bar-color);
  border-radius: 5px;
}
.customButton_go:hover {
  color: #1c1e1f;
  background: #1baeae; /* #165036; */
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 0 4px #000;
  box-shadow: inset 0 0 4px #000;
}

.customButton_showMe {
  background-color: transparent;
  padding: 6px;
  margin: 6px;
  width: 75px;
  height: 30px;
  font-size: 85%;
  cursor: pointer;
  border: 1px solid var(--nav-bar-color);
  border-radius: 5px;
}
.customButton_showMe:hover {
  color: #1c1e1f;
  background: #1bae60; /* #165036; */
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 0 4px #000;
  box-shadow: inset 0 0 4px #000;
}

.spanHead {
  font-weight: 600;
}
.spanTail {
  font-size: 85%;
}
.spanTailAlert {
  color: #b73e4a;
}
.spanTailSuccess {
  color: #165036;
}

.cutOverflow {
  width: 400x;
  z-index: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.handCursor {
  cursor: pointer;
}

#divCountryControl {
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

.inputAddRadio {
  color: lightyellow;
  background-color: #303030;
}
.reportMonitor {
  position: absolute;
  width: 86%;
  height: 50%;
  overflow: auto;
  margin: auto;
  top: 20px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  background-color: var(--monitor-color);
  border-left: 2mm ridge #49bbaa;
  border-top-right-radius: 50px;
}

.msgContainer {
  padding-left: 2px;
  width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 90%;
}
.spanLogMessage {
  color: black;
}
.spanLogWarning {
  color: red;
}
.spanLogSkip {
  color: #f7bcff;
}
.spanLogWrite {
  color: blue;
}
.spanLogBlacklisted {
  color: green;
}

.blacklist {
  margin-top: 5px;
}

.whiteSpace {
  margin-left: 10px;
}

.settings {
  padding: 6px;
  padding-left: 10px;
}
.fixedPosition {
  position: fixed;
  top: 0%;
  left: 5px;
  /* max-height: calc(100% - 50px); */
  overflow: auto;
  margin: auto;
  z-index: 10;
}

.slider_neutral {
  width: 8em;
  height: 5px;
  border-radius: 5px;
  background: #ebebeb;
  outline: none;
  opacity: 1;
  margin-bottom: 3px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider_neutral:hover {
  opacity: 1;
}

.slider_neutral::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border: 0;
  background: #8f8f8f;
  border-radius: 50%;

  background-image: url("../images/slider_knob.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

.slider_neutral::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 50%;

  background-image: url("../images/slider_knob.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

.slider_record {
  width: 8em;
  height: 5px;
  border-radius: 5px;
  background: #ebebeb;
  outline: none;
  opacity: 1;
  margin-bottom: 3px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider_record:hover {
  opacity: 1;
}

.slider_record::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  background: #8f8f8f;
  border-radius: 50%;

  background-image: url("../images/default_icon.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

.slider_record::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;

  background-image: url("../images/default_icon.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
}

.eqSelectors {
  border: 1px green solid;
}

.infoColor {
  color: #f7bcff;
}

.downloadBlobTxt {
  font-size: 90%;
}

.volBtnStyle {
  display: inline-block;
  height: 22 px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
.volDisplayStyle {
  text-align: center;
  vertical-align: baseline;
  color: black;
  font-size: 104%;
}

.imgTransform:hover {
  transform: scale(1.04);
}
.imgTransform:active {
  transform: scale(1);
}

.spacerOneEm {
  margin-top: 1em;
}
.spacerhalfEm {
  margin-top: 0.5em;
}
.spacerOneEmDefaultColor {
  min-height: 0.5em;
  background-color: var(--main-bg-color);
}

.spacerGreyZeroTwo {
  min-height: 0.1em;
  /*   background: linear-gradient(
    0.25turn,
    #fff,
    #f2f2f2,
    #fff
  ); */
  background: #f2f2f2;
}
.spacerWhiteZeroTwo {
  min-height: 0.5em;
  background: #fff;
}
.blockAccess {
  position: absolute;
  background-color: #212631;
  width: 500px;
  min-height: 100vh;
  z-index: 100;
  opacity: 0.96;
}
#activityBar {
  margin-left: 1em;
  margin-right: 1em;
}
#audioBar {
  margin-left: 1em;
  margin-right: 1em;
}
#videoBar {
  margin-left: 1em;
  margin-right: 1em;
}
#topFilterBar {
  margin-left: 2em;
  margin-right: 2em;
}
#bgTopFilterBar {
  background-color: var(--main-bg-color);
}

/* bgMonitorPrimer is under bgMonitorCorners */
.bgMonitorPrimer {
  width: 100%;
  min-height: 9em;
  border: 0px solid red;
  position: relative;
  background-color: var(--main-bg-color);
}
.bgMonitorCorners {
  width: 100%;
  min-height: 9em;
  position: absolute;
  background-color: white;

  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.bgImgContainer {
  position: absolute;
  background-color: "red";
  top: -0.2em;
  left: 25em;
  z-index: 3;
}

.grid_popup_head {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-gap: 0px;
  width: 400px;
  height: 60px; /* child needs same line-height */
}
.grid_popup_head_item {
  padding-left: 0.5em;
  text-align: left;
  border: 0px solid red;
  background-color: #76cecb;
  line-height: 60px;
  vertical-align: middle;
  font-size: 150%;
  color: white;
}

.popupContainer {
  position: absolute;
  left: 50px;
  width: 400px;
  background-color: var(--bright-bg-color);
  z-index: 102;
}

.popupHeader {
  font-size: 120%;
  padding-top: 1em;
  padding-left: 1em;
}
.popupText {
  font-size: 100%;
  font-weight: lighter;
  line-height: 22px;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
