.subMenuOutline {
  margin-top: 10px;
  padding: 4px;
  width: 100%;
  background-color: #ebebeb;
}

.subMenuSection {
  margin: 16px;
  padding: 10px;
  border-radius: 4px;
  background-color: #49bbaa;
}

